<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col-md-2"></div>
  <div style="text-align:center" class="col-md-8">
    <div class="progress" *ngIf="progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" #bar role="progressbar" [attr.aria-valuenow]="progress"
        aria-valuemin="0" aria-valuemax="100" [style.width]="progress + '%'">
        {{progress.toFixed()}}%
      </div>
    </div>
    <h3>Users</h3>
    <table class="table table-bordered">
      <thead>
        <tr style="background-color: rgb(194, 187, 187);">
          <th>Profile Photo</th>
          <th>Name</th>
          <th>Email ID</th>
          <th>Contact Number</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>
            <input type="file" class="form-control" (change)="loadImage($event,img)" placeholder="Image" #f>
            <img #img alt="">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="addUser.name" placeholder="Name">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="addUser.email_id" placeholder="Email Id">
          </td>
          <td>
            <input type="text" class="form-control" [(ngModel)]="addUser.contact_number" placeholder="Contact Number">
          </td>
          <td>
            <button class="btn btn-success" (click)="upload(f,'insert');img.src=null">Insert</button>
          </td>
        </tr>
      </thead>
      <tbody *ngFor="let item of user | async" [@enterAnimation]>

        <tr>
          <td>
            <img [attr.src]="item.image" alt="Your image">
            <!-- {{item.image}} -->
          </td>
          <td>
            {{item.name}}
          </td>
          <td>
            {{item.email_id}}
          </td>
          <td>
            {{item.contact_number}}
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(item)">
              <span class="glyphicon glyphicon-trash">Delete</span>
            </button>
            <button class="btn btn-primary" (click)="edit(item)">
              <span class="glyphicon glyphicon-pen">Update</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="editState && itemToUpdate.id == item.id"  [@enterAnimation]>
          <td colspan=5>
            <div>
              <div class="row">
                <div class="col-md-3">
                  <input type="file" class="form-control" (change)="loadImage($event,img1)" placeholder="Image" #f1>
                  <img #img1 [src]="itemToUpdate.image" alt="">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" [(ngModel)]="itemToUpdate.name" placeholder="Name">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" [(ngModel)]="itemToUpdate.email_id" placeholder="Email">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control" [(ngModel)]="itemToUpdate.contact_number" placeholder="Contact">
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="col-md-4" style="text-align:left;">
                  <button class="btn btn-primary" (click)="upload(f1)">Update</button>
                  <button class="btn btn-default" (click)="clearState()">Close</button>
                </div>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
